uwsgi==2.0.17.1
amqp==1.4.5
anyjson==0.3.3
asn1crypto==0.24.0
Babel==2.6.0
billiard==3.3.0.18
celery==3.1.15
cffi==1.11.5
cryptography==2.3
Django==2.2.18
django-celery==3.2.2
django-filter==2.0.0
djangorestframework==3.9.1
flower==0.9.2
idna==2.7
kombu==3.0.30
Markdown==2.6.11
pycparser==2.18
PyMySQL==0.9.2
python-memcached==1.59
pytz==2018.5
six==1.11.0
sqlparse==0.3.0
tornado==5.1
vine==1.1.4
