<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/prettify.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/wordcloud2.js" crossorigin="anonymous"></script>
    {#    <script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>#}
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/css/prettify.css" crossorigin="anonymous">

    {#  preload预加载字体和web ico  #}
    <link rel="preload" as="font" href="https://www.hiwendi.com/static/fonts/glyphicons-halflings-regular.woff2"
          crossorigin="anonymous">
    {#    <link rel="preload" as="image" href="/static/favicon.ico" crossorigin="anonymous">#}
    <link rel="preload" as="script" href="/static/js/jquery-1.10.2.min.js" crossorigin="anonymous">
    <link rel="preload" as="script" href="/static/js/bootstrap.min.js" crossorigin="anonymous">
    <link rel="preload" as="script" href="/static/js/prettify.min.js" crossorigin="anonymous">
    <link rel="preload" as="script" href="/static/js/wordcloud2.js" crossorigin="anonymous">
    <link rel="preload" as="style" href="/static/css/bootstrap.css" crossorigin="anonymous">
    <link rel="preload" as="style" href="/static/css/bootstrap-theme.css" crossorigin="anonymous">
    <link rel="preload" as="style" href="/static/css/prettify.css" crossorigin="anonymous">

    <style>
        .blog {
            padding: 10px 0px 0px 0px;
        }

        .blog .info span {
            padding-right: 10px;
            color: black;
        }

        .blog .summary {
            padding-top: 20px;
        }

        .errorlist {
            color: red;
        }
    </style>

    {#$('.content img').css({'width': '100%', 'height': 'auto', 'visibility': 'inherit'});#}

    <script>
        {#图片自适应大小, 响应式#}
        $(window).load(function () {
            $(".content img").addClass("img-responsive img-rounded");
        })
    </script>
</head>
<body onload="prettyPrint()">
{% include 'nav.html' %}
{% block content %}{% endblock %}
<div style="padding-bottom: 20px;text-align: center">
    <a href="http://beian.miit.gov.cn/state/outPortal/loginPortal.action" target="_blank">粤ICP备18096819号</a>
</div>
</body>
</html>