<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/prettify.min.js"></script>
    {#    <script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>#}
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/prettify.css">

    {#  preload预加载字体和web ico  #}
    <link rel="preload" as="font" href="https://www.hiwendi.com/static/fonts/glyphicons-halflings-regular.woff2">
    <link rel="preload" as="image" href="https://www.hiwendi.com/static/favicon.ico">

    <style>
        .blog {
            padding: 10px 0px 0px 0px;
        }

        .blog .info span {
            padding-right: 10px;
            color: black;
        }

        .blog .summary {
            padding-top: 20px;
        }

        .errorlist {
            color: red;
        }
    </style>

    {#$('.content img').css({'width': '100%', 'height': 'auto', 'visibility': 'inherit'});#}

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b487d16a8e8aeeb83a33f89bf1549d70";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        {#图片自适应大小, 响应式#}
        $(window).load(function () {
            $(".content img").addClass("img-responsive img-rounded");
        })
    </script>
</head>
<body onload="prettyPrint()">
{% include 'nav.html' %}
{% block content %}{% endblock %}
</body>
</html>