{% extends 'base.html' %}
{% block content %}

    <div class="container" style="margin-top:20px;padding-bottom:  30px">
        <div style="margin: 0px 50px">
            <ul>
                {#                <li style="list-style-type:none">#}
                {#                    <div align="left" class="blog">#}
                {#                        <div class="title">#}
                {#                            <h4>#}
                {#                                捐赠:&nbsp&nbsp&nbsp#}
                {#                                <img src="/static/WechatIMG133.png" width="20%">#}
                {#                                &nbsp#}
                {#                                <img src="/static/WechatIMG134.png" width="20%">#}
                {#                                &nbsp#}
                {#                                <img src="/static/WechatIMG135.jpg" width="20%">#}
                {#                            </h4>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </li>#}
                {#                <hr>#}

                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div class="title">
                            <h4>
                                分类:
                                {% for catagory in catagorys %}
                                    <a href="/blogs?catagory={{ catagory.id }}">{{ catagory.name }}</a>
                                    &nbsp
                                {% endfor %}
                            </h4>
                        </div>
                    </div>
                </li>
                <hr>

                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div class="title">
                            <h4>
                                标签:
                                {% for tag in tags %}
                                    <a href="/blogs?tag={{ tag.id }}">{{ tag.name }}</a>
                                    &nbsp
                                {% endfor %}

                            </h4>
                        </div>
                    </div>
                </li>

                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div id="canvas-container" align="center">
                            <!--定义一个cavans容器作为画布显示-->
                            <canvas id="canvas" width="700px" height="300px"></canvas>
                        </div>
                        <script>
                            var words = []
                            {% for catagory in catagorys %}
                                words.push(['{{ catagory.name }}', (Math.random() + 1)*2]);
                            {% endfor %}

                            {% for tag in tags %}
                                words.push(['{{ tag.name }}', (Math.random() + 1)*2]);
                            {% endfor %}

                            // 构造options
                            var options = eval({
                                "list": words,
                                {#    [#}
                                {#    ['原创', 4],#}
                                {#    ['队列', 3]#}
                                {#],#}
                                "gridSize": 10, // size of the grid in pixels
                                "weightFactor": 10, // number to multiply for size of each word in the list
                                "fontWeight": 'normal', // 'normal', 'bold' or a callback
                                "fontFamily": 'Times, serif', // font to use
                                "color": 'random-light', // 'random-dark' or 'random-light'
                                "backgroundColor": '#fff', // the color of canvas
                                "rotateRatio": 1 // probability for the word to rotate. 1 means always rotate
                            });
                            var canvas = document.getElementById('canvas');
                            //调用WordCloud
                            WordCloud(canvas, options);

                        </script>
                    </div>
                </li>

                <hr>

                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div class="title">
                            <h4>博客列表: </h4>
                        </div>
                    </div>
                </li>
                <hr>

                {% for blog in blogs %}
                    <li style="list-style-type:none">
                        <div align="left" class="blog">
                            <div class="title">
                                <h5>
                                    <a href="{% url 'blog_get_detail' blog.id %}">
                                        {{ blog.title }}
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </li>
                    <hr>
                {% endfor %}

                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div class="title">
                            <h4>
                                邮箱: zhang842876912@gmail.com
                            </h4>
                        </div>
                    </div>
                </li>
                <hr>

            </ul>
        </div>
    </div>

{% endblock %}






