{% extends 'base.html' %}
{% block content %}

    {% load cache %}
    {% cache 600 'tag' %}
    <div class="container" style="margin-top: 20px">
        <ul>
            {% for tag in tags %}
                <li style="list-style-type:none">
                    <div align="left" class="blog">
                        <div class="title">
                            <h4>标签: <a href="/blogs?tag={{ tag.id }}">{{ tag.name }}</a></h4>
                        </div>
                    </div>
                    <div class="info">
                        <span>描述: {{ tag.remark }}</span>
                    </div>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>
    {% endcache %}

{% endblock %}






