{% extends 'base.html' %}
{% block content %}
    <div class="container" style="margin-top: 20px">
        <div style="margin: 0px 50px">
            {% if catagory %}
                <ul>
                    <li style="list-style-type:none">
                        <div>
                            <span>分类: {{ catagory.name }}</span>
                        </div>
                        <div>
                            <span>描述: {{ catagory.remark }}</span>
                        </div>
                        <div>
                            <a href="/catagory">返回分类列表</a>
                        </div>
                    </li>
                </ul>
                <hr>
            {% endif %}

            {% if tag %}
                <ul>
                    <li style="list-style-type:none">
                        <div>
                            <span>标签: {{ tag.name }}</span>
                        </div>
                        <div>
                            <span>描述: {{ tag.remark }}</span>
                        </div>
                        <div>
                            <a href="/tag">返回标签列表</a>
                        </div>
                    </li>
                </ul>
                <hr>
            {% endif %}

            <ul>
                {% for blog in contacts %}
                    {# Each "contact" is a Contact model object. #}
                    {#        {{ contact.full_name|upper }}<br/>#}
                    <li style="list-style-type:none">
                        <div align="left" class="blog">
                            <div class="title">
                                <a href="{% url 'blog_get_detail' blog.id %}">
                                    <h4>{{ blog.title }}</h4></a>
                            </div>
                        </div>
                        <div class="intro" style="color: #999999">
                            {{ blog.intro|truncatechars:100 }}
                        </div>
                        <div class="info">
                            <span class="created">{{ blog.created | date:'Y-m-d H:i' }}</span>
                            <span class="catagory">&nbsp;&nbsp;阅读量:{{ blog.read }}</span>
                            <span class="catagory">&nbsp;&nbsp;评论数:{{ blog.comment_count }}</span>
                            <span class="catagory">&nbsp;&nbsp;目录:{{ blog.catagory__name }}</span>
                            <span class="catagory">&nbsp;&nbsp;标签:{{ blog.alltags }}</span>
                        </div>
                    </li>
                    <hr>
                {% endfor %}
            </ul>

            <ul class="pagination" style="margin-left: 40px;padding-bottom: 20px">
                {% if contacts.has_previous %}
                    <li><a href="{{ contacts.previous_url }}">&laquo;</a></li>
                    <li><a href="{{ contacts.previous_url }}">{{ contacts.previous_page_number }}</a></li>
                {% else %}
                    <li><a href="#" onclick="return false;">&laquo;</a></li>
                {% endif %}

                <li><a href="#" style="font-weight: bold" onclick="return false;">{{ contacts.number }}</a></li>

                {% if contacts.has_next %}
                    <li><a href="{{ contacts.next_url }}">{{ contacts.next_page_number }}</a></li>
                    <li><a href="{{ contacts.next_url }}">&raquo;</a></li>
                {% else %}
                    <li><a href="#" onclick="return false;">&raquo;</a></li>
                {% endif %}

                <li>&nbsp;</li>
                <li><span>共{{ contacts.paginator.num_pages }}页</span></li>
            </ul>
        </div>

        {#        <div class="pagination">#}
        {#            <span class="step-links">#}
        {#                {% if contacts.has_previous %}#}
        {#                    <a href="?page={{ contacts.previous_page_number }}">Previous</a>#}
        {#                {% endif %}#}
        {#                <span class="current">#}
        {#                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.#}
        {#                </span>#}
        {#                {% if contacts.has_next %}#}
        {#                    <a href="?page={{ contacts.next_page_number }}">Next</a>#}
        {#                {% endif %}#}
        {#            </span>#}
        {#        </div>#}

    </div>


{% endblock %}






