{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <form action="/user/reset/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="oldpasswd">原密码</label>
                <input type="password" class="form-control" name="oldpasswd" placeholder="原密码">
            </div>
            <div class="form-group">
                <label for="newpasswd1">新密码</label>
                <input type="password" class="form-control" name="newpasswd1" placeholder="新密码">
            </div>
            <div class="form-group">
                <label for="newpasswd2">重复新密码</label>
                <input type="password" class="form-control" name="newpasswd2" placeholder="重复新密码">
            </div>
            <div><span style="color: red">{{ remarks }}</span></div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    </div>

{% endblock %}
